@font-face {
    font-family: "LuckiestGuy";
    src: url(/css/LuckiestGuy-Regular.ttf);
}
.galéria{
    text-align: center;
}
.txt-p{
    text-align: justify;
    padding-left: 2%;
}
.footer{
   background-color: rgb(190, 190, 190);
   display: inline-block;
}
.footer_copyr{
    background-color: black;
    color: white;
    border: solid 1px grey;
}
.h3_footer{
    block-size: auto;
    display: block;
    text-align: center;
    width: 30%;
    height: 200px;
}
.py-5{
    margin: 10%;
}
.form-sk{
    display: inline-block;
    border: solid 1px grey;
    padding: 5px;
    box-shadow: 0 0 10px 10px indigo;
}
.hugs{
    background-image: url("/image/hug.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hugs-span{
    background-color: rgba(177, 20, 20, 0.747);
    color: white;
    font-weight: bold;
}
.li-1{
    font-style: italic;
    color: rgb(63, 63, 63);
    text-indent: 10px;
    list-style-position: inside;
}
#messy-table{
    text-align: center;
}
legend{
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0.5%;
    color: indigo;
}
html{
    margin-right: 2%;
}
body{
    margin: 2%;
}
span{
    font-style: bold;
}
h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "LuckiestGuy";
}
h2{
    border: solid 1px rgb(33, 168, 168);
    background-color: rgb(209, 204, 204);
    border-radius: 10px;
    margin: 2%;
}
h3{
    font-family: "LuckiestGuy";
    text-align: center;
    margin: 3%;
}
p{
    text-align: center;
    color: rgb(0, 82, 82);
    font-size: 20px;
}